body {
  background-color: #1A0E10;
}
div {
  width: 100%;
}

h1 {
  text-align: center;
  background: brown;
}

h2 {
  text-align: center;
  background-color: #723D46;
}

ul {
  text-align: center;
  background-color: #472D30;
  color: white;
  list-style-type: none;

}

a {
  display: inline-block;
  text-decoration: none;
}

.donate {
  display: block;
  font-size: 48;
  color: #262716;
  background-color: #E26D5C;
}

p1 {
  display: inline-block;
  margin: auto;
  padding-left:20%;
  padding-right: 20%;
  font-size: 24;
}

li {
  text-decoration: none;
}
